.section{
  width:100%;
  height:100%;
  background:url(../images/bgbg.jpg) no-repeat center;
  position:fixed;
}

.since{
  font-family: 'Montserrat-regular',sans-serif;
  font-size:12px;
  letter-spacing: 2px;
  text-align: center;
  margin-top:30px;
  line-height:60px;
  color:#fff;

  &:before{
    content:"";
    display:block;
    width:125px;
    border-top:1px solid #fff;
    margin:0 auto;
    //transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.logo-heading{
  font-size:90px;
  text-align:center;
  margin-top:350px;
  margin-bottom:130px;
  color:#fff;
  font-family: 'Kanit', sans-serif;
}

.btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;

  &:hover {
    .btn-bg:before {
      transform: translate3d(0, 0, 0);
    }
    .btn-bg-link {
      color: #000;
    }
  }

  &-bg {
    width: 100%;
    height: 100%;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      transition: transform .4s ease-out;
      transform: translate3d(-100%, 0, 0);
    }

    &-link {
      color: #fff;
      display: inline-block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      transition: all .5s ease-out;
      line-height:50px;
      text-align: center;
      letter-spacing: 1px;
      font-size:15px;

    }
  }
}

.footer {
  text-align: center;
  margin-top: 80px;

  &-logo {
    font-weight: bold;
    line-height: 2;
    color: #fff;
    font-family: 'Montserrat-regular', sans-serif;

  }

  &-copy {
    color: #fff;
    font-family: 'Montserrat-regular', sans-serif;
    font-size: 11px;

    &:after {
      content: "";
      display: block;
      width: 125px;
      border-top: 1px solid #fff;
      margin: 0 auto;
      position: relative;
      top: 30px;
      //transform: matrix(1, 0, 0, 1, 0, 0);

    }

  }

  &-sns {
    width: 125px;
    margin: 0 auto;
    position: relative;
    top: 65px;

    &-list {
      float: left;
      margin-right: 43px;

      &:last-child {
        margin-right: 0;
      }

    }

    &-link {

    }

    i {
      color: #fff;
    }
  }
}






