.header{
  width:100%;
  height:70px;
  position:fixed ;


  &-inner{
    width:1200px;
    height:70px;
    margin:0 auto;

    &:after{
      content:"";
      display:block;
      clear:both;
    }


    .logo{
      display:inline-block;
      line-height:70px;

      &-link{
        font-size: 30px;
        font-family: 'Kanit', sans-serif;
        color: #fff;

      }
    }

    .gnb{
      float:right;
      position: relative;
      top:30px;




      &-list{

        &-item{
          margin-left:60px;
          display:inline-block;

        }

        &-link{
          font-size:17px;
          font-family: 'Jura', sans-serif;
          font-weight: 700;
          color:#9d9d9d;
          opacity: .7;
        }
      }
    }
  }
}

.main1{
  width:100%;
  height:100vh;
  background:url(../images/bg1.jpg) no-repeat;


  .box {
      width: 1200px;
      height: 213px;
      border: 25px solid #fff;
      box-sizing: border-box;
      margin-top:200px;
      line-height:163px;
    padding:0 179px;

      &-text {
        font-family: 'Kanit', sans-serif;
        font-size: 100px;
        color: #af9a89;
        letter-spacing: 5px;
      }
    }
  .pagedown{
    width:100px;
    height:100px;
    font-size:65px;
    color:#af9a89;
    line-height: 100px;
    display: inline-block;
  }









}

.main2{
  width:100%;
  height:100vh;
  background: darkcyan;

}

.main3{
  width:100%;
  height:100vh;
  background:orange;
}

.main4{
  width:100%;
  height:100vh;
  background:saddlebrown;
}